.line {
  width: 70rem;
  display: flex;
  height: 4rem;
  border-bottom: 1px solid black;
  box-sizing: border-box;
}

.line:last-child {
  border: 0;
}

.bowler {
  flex-grow: 1;
  border-right: 1px solid black;
}

.score {
  flex: 1;
}
