.frame {
  flex: 1;
  height: 100%;
  display: inline-block;
  border-right: 1px solid black;
  box-sizing: border-box;
}

.frame::after {
  box-sizing: border-box;
  content: "";
  width: 33%;
  height: 50%;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  float: right;
  position: relative;
}

.frame:nth-last-child(2)::before {
  box-sizing: border-box;
  content: "";
  width: 33%;
  height: 50%;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  float: right;
  position: relative;
}
